.starwars{
    background-image: url(../img/wp3614448-star-wars-4k-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration-color: white;
}
